<label>Server Name</label>
<!--<input 
type="text" 
name="form-control"
(input)="onUpdateServerName($event)">-->

<input 
type="text" 
name="form-control"
[(ngModel)]="severValueEvent">
<button
class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>

<!--<p>{{severValueEvent}}</p>-->
<p>{{serverCreationStatus}}</p>

<p *ngIf="serverBol" else noServe>El servidor fue creado {{severValueEvent}}</p>

<ng-template #noServe>
	<p>
		No create servidor
	</p>
</ng-template>

<div app-server *ngFor="let server of servers"></div>