<h5>Server ejemplo</h5>
<div>
	<p [ngStyle]="{backgroundColor:getColor()}" [ngClass]="{online:serverEstatus==='Online'}">{{'Server'}} con el ID {{getServerStatus()}} y esta {{getServerId()}}</p>



</div>